# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\phpServer\Figure`s square\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
